![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [95]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Import any additional modules and start coding below

In [96]:
# importing the dataset
rental_info = pd.read_csv("rental_info.csv", parse_dates=["rental_date", "return_date"])
print(rental_info.info())
rental_info.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_date       15861 non-null  datetime64[ns, UTC]
 1   return_date       15861 non-null  datetime64[ns, UTC]
 2   amount            15861 non-null  float64
 3   release_year      15861 non-null  float64
 4   rental_rate       15861 non-null  float64
 5   length            15861 non-null  float64
 6   replacement_cost  15861 non-null  float64
 7   special_features  15861 non-null  object
 8   NC-17             15861 non-null  int64
 9   PG                15861 non-null  int64
 10  PG-13             15861 non-null  int64
 11  R                 15861 non-null  int64
 12  amount_2          15861 non-null  float64
 13  length_2          15861 non-null  float64
 14  rental_rate_2     15861 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(8), int64(4), object(1)
memory usage: 1.8+ MB
None

                rental_date               return_date  ...  length_2  rental_rate_2
0 2005-05-25 02:54:33+00:00 2005-05-28 23:40:33+00:00  ...   15876.0         8.9401
1 2005-06-15 23:19:16+00:00 2005-06-18 19:24:16+00:00  ...   15876.0         8.9401
2 2005-07-10 04:27:45+00:00 2005-07-17 10:11:45+00:00  ...   15876.0         8.9401
3 2005-07-31 12:06:41+00:00 2005-08-02 14:30:41+00:00  ...   15876.0         8.9401
4 2005-08-19 12:30:04+00:00 2005-08-23 13:35:04+00:00  ...   15876.0         8.9401

[5 rows x 15 columns]

In [97]:
# creating new column
rental_info["rental_length_days"] = rental_info["return_date"] - rental_info["rental_date"]
rental_info["rental_length_days"] = rental_info["rental_length_days"].dt.days
rental_info.head()

                rental_date  ... rental_length_days
0 2005-05-25 02:54:33+00:00  ...                  3
1 2005-06-15 23:19:16+00:00  ...                  2
2 2005-07-10 04:27:45+00:00  ...                  7
3 2005-07-31 12:06:41+00:00  ...                  2
4 2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 16 columns]

In [98]:
# creating dummy variables
rental_info["deleted_scenes"] = np.where(rental_info["special_features"].str.contains("Deleted Scenes"), 1,0)
rental_info["behind_the_scenes"] = np.where(rental_info["special_features"].str.contains("Behind the Scenes"), 1,0)
rental_info.head()

                rental_date  ... behind_the_scenes
0 2005-05-25 02:54:33+00:00  ...                 1
1 2005-06-15 23:19:16+00:00  ...                 1
2 2005-07-10 04:27:45+00:00  ...                 1
3 2005-07-31 12:06:41+00:00  ...                 1
4 2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 18 columns]

In [99]:
# creating X
X = rental_info[["amount", "release_year", "rental_rate", "length", 'replacement_cost', 'NC-17', 'PG', 'PG-13', 'R', 'amount_2', 'length_2', 'rental_rate_2', 'deleted_scenes', 'behind_the_scenes']]

# creating y
y = rental_info["rental_length_days"]

# splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9, test_size=0.2)

In [100]:
# instantiating the model
lasso = Lasso(random_state=9, alpha=0.3)
lasso.fit(X_train, y_train)

lasso_coef = lasso.coef_
print(lasso_coef)

[ 5.84104424e-01  0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  4.36220109e-02  3.01167812e-06 -1.52983561e-01
 -0.00000000e+00  0.00000000e+00]

In [101]:
# selecting features with with non-zero coefficients
X_lasso_train, X_lasso_test = X_train.iloc[:, lasso_coef >0], X_test.iloc[:, lasso_coef > 0]

In [102]:
# creating linear regression model
ols = LinearRegression()
ols.fit(X_lasso_train, y_train)
ols_test_pred = ols.predict(X_lasso_test)
mse_ols = mean_squared_error(y_test, ols_test_pred)
print(mse_ols)

4.812297241276244

In [103]:
# creating decision tree
dt = DecisionTreeRegressor()
dt.fit(X_lasso_train, y_train)
dt_test_pred = dt.predict(X_lasso_test)
mse_dt = mean_squared_error(y_test, dt_test_pred)
print(mse_dt)

3.645633359745855

In [104]:
# creating random forest
rf = RandomForestRegressor()
rf.fit(X_lasso_train, y_train)
rf_test_pred = rf.predict(X_lasso_test)
mse_rf = mean_squared_error(y_test, rf_test_pred)
print(mse_rf)

3.628282739352082

In [105]:
# hyperparameter tuning for random forest
params={"n_estimators": np.arange(1, 101, 1),
       "max_depth": np.arange(1, 11, 1)}

r_search = RandomizedSearchCV(rf, param_distributions=params,
                             cv=5, random_state=9)

r_search.fit(X_train, y_train)
tuned_params = r_search.best_params_
print(tuned_params)

{'n_estimators': 51, 'max_depth': 10}

In [106]:
# retraining random forest with the best parameters
rf = RandomForestRegressor(n_estimators=tuned_params["n_estimators"],
                                max_depth=tuned_params["max_depth"], 
                                random_state=9)

rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
mse_rf = mean_squared_error(rf_pred, y_test)

In [107]:
# best model and best mse
best_model = rf_tuned
best_mse = mse_rf
print(best_mse)

2.225667528098759